<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Anton Yevchenko`s test work</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PortaOneMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand">Anton Yevchenko`s test work</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="navbar-brand" style="color: royalblue;  text-decoration:  underline;" href="https://docs.google.com/document/d/1tfhYkAfN3y2u40snC2rB2PR2toBnJnfDJINLCDZViNI/edit?usp=sharing" target="_blank">
                                What does this service do?
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand" style="color: royalblue;  text-decoration:  underline;" href="https://docs.google.com/document/d/1YP5Q9WWkQ4TqApnvbgqhwYwhvXWRbiEI-NSr7mohUIU/edit?usp=sharing" target="_blank">
                                How this solution was found?
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand" style="color: royalblue;  text-decoration:  underline;" href="https://drive.google.com/file/d/1f1iERQPWCxWpzUAjW22qMu-XrtnW8gls/view?usp=sharing" target="_blank">
                                Don't have your file? Use ours!
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand" style="color: royalblue;  text-decoration:  underline;" href="https://github.com/AntonYevchenko/PortaOneMVC-test-task" target="_blank">
                                Code source on GitHub
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
